@CHARSET "UTF-8";

body {
  background: linear-gradient(-45deg, rgba(00, 255, 51, .8), rgba(00, 255, 153, .8)),
  url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  background-attachment:fixed;             /* 背景画像を固定する */
  marigin-bottom :0px;
  padding-bottom: 0px;
}

hr {
	height:3px;
	border:0;
	background:linear-gradient(left, #f5f5f5, #999, #f5f5f5);
	background:-webkit-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
	background:-moz-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
}


body, html{
	height: 100%;
	width: 100%
}

.maincontent {
  width: 100%;
  margin: 0px;
}

.width100margin0{
	width: 100%;
	margin: 0px;
}

textcenter{
	text-align:center;
}

.itemimg{
	width: 100%;
	height: auto;
}