@CHARSET "UTF-8";

body {
  background: linear-gradient(-45deg, rgba(00, 255, 51, .8), rgba(00, 255, 153, .8)),
  url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  background-attachment:fixed;             /* 背景画像を固定する */
  marigin-bottom :0px;
  padding-bottom: 0px;
}

body, html{
	height: 100%;
}

.maincontent {
  padding: 20px;
  padding-bottom: 50px;
  height: auto;
  position: relative;
}